<h1>Listing pictures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.name %></td>
    <td><%= image_tag(picture.picture_url, :size => '90x90') %></td>
    <td><%= picture.description %></td>

    <td><%= link_to 'Show', picture %></td>
    <% if can? :update, picture  %>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <% end %>
    <% if can? :delete, picture  %>
    <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @temppicture  %>
<%= link_to 'New Picture', new_picture_path %>
<% end %>
